/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
    line-height: 1.5;
    background-color: #fdfdfd;
}

/* LARGURA PADRÃO DO SITE */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dd8cfa;
    color: white;
    border: 2px solid #dd8cfa;
   
}

header img {
    width: 120px;
    height: auto;
    border-radius: 8px;

   
}

/* MAIN */
main {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* TÍTULOS */
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #120202;
    text-align: center;
    font-size: 25px;
}

/* INFO LOCAL */
.info-local {
    text-align: center;
    margin-bottom: 20px;
}

.info-local h1 {
    margin-bottom: 8px;
    font-size: 24px;
}

.info-local p {
    margin: 2px 0;
}

/* ENDEREÇO */
.address p {
    line-height: 0;
    text-align: center;
}

/* MAPA + FORMULÁRIO */
.map-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.map {
    flex: 1;
    border: 0;
}

form {
    display: grid;
    width: 600px;
    height: 200px;
    margin: 0;
    padding:0;
    background-color: #fff;
    margin-top: 0 auto;
    line-height: 1; /*line-height para aproximar as frases*/

   
}


/* SEÇÃO ADVENTURE */
.adventure {
    max-width: 840px;
    margin: 10px auto 30px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

.adventure h2 {
    font-size: 28px;
    font-weight: bold;

}

/* GALERIA */
.gallery {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    justify-content: space-around;
}

.gallery img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

/* MENU */
nav ul{
    display: flex;
    gap: 0px;  /*Define um espaço de 12px entre os ícones.*/
    list-style: none;
    padding: 10px;

}

nav a {

    padding: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #000;
    background-color: #fff;
}

/* PARÁGRAFOS E SEÇÕES */
p, section, article {
    margin: 16px;
    padding: 8px;
}

/* FOOTER */
footer {
    display: flex;
    font-size: 16px;
    background-color: #dd8cfa;
    border: 2px solid #a49e9e;  
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

/* REDES SOCIAIS */
.redes-sociais {
    display: flex;
    justify-content: flex-end;
    gap: 12px;  /*Define um espaço de 12px entre os ícones.*/
    margin-top: 10px;
    align-items: center;
    background-color: #dd8cfa;
    padding: 10px 0 0 5px;
}


.redes-sociais a {
    text-decoration: none;
    background-color: transparent; /*remove o fundo branco*/
    border: none; /*remove a borda*/
}

.redes-sociais img {
    width: 32px;
    height: 32px;

}


/*margin: 10px 20px 30px 40px;
Segue a ordem do relógio:

top
right
bottom
left

Aproximar as linhas (vertical)
Se o texto está “alto demais”, use line-height.
css
p {
  line-height: 0.9;
}
1.0 = padrão
0.9 = mais junto
0.8 = bem junto
0.7 = começa a encostar
0.6 ou menos = sobrepõe

Aproximar as letras (horizontal)
Se você quer que as letras fiquem mais coladas:
css
p {
  letter-spacing: -1px;
}
0px = normal
-1px = mais junto
-2px = bem junto
-3px = quase colando

text-align → mover o texto para esquerda, direita ou centro

flex: 1; Crescer e ocupar todo o espaço disponível*/
