/* Resetando css do meu projeto */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: Arial, Helvetica, sans-serif;
    --cor-texto: #222;
    --cor-fundo: #fff;
    --cor-primaria: darkblue;
    --cor-secundaria: steelblue;
    --cor-cinza: gray;
    --cor-caixa: #eee;
    --cor-caixa-texto: #333;
    --largura-padrao: 200px;
}


body {
    font-family: var(--fonte-principal);
    line-height: 1.5;
    color:var(--cor-texto);
    background-color: var(--cor-fundo);
    margin: 0; /* o professor colocou 0 */
}
nav {
    background-color: var(--cor-primaria);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}


h1 {
    color: var(--cor-primaria);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--cor-secundaria);
    padding: 1px;
    box-shadow: 0 0 30px var(--cor-cinza);
    float: right;
}

main {
    max-width: 840px;
}

p { 
    padding: 0;

}
aside {
    width: var(--largura-padrao);  /* Estava 20, por isso estava errando */
    color: var(--cor-caixa-texto);
    text-align: center;
    position: relative;
    
}


aside img {
    width: var(--largura-padrao);
    height: auto;
}

aside h2 { 
    position: absolute;
    top: 40px;
    left: 30px; /* o professor colocou 120px pq a imagem dele é reta e não retangular. */

}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* seletores de classe */

.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: var(--cor-caixa);
}

.indetacao {
    padding: 2rem;
}

/* Esses acima estavam no "aside" e eu trouxe para cá./*
