/* Resetando css do meu projeto */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: Arial, Helvetica, sans-serif;
    --cor-texto: #222;
    --cor-fundo: #fff;
    --cor-primaria: darkblue;
    --cor-secundaria: steelblue;
    --cor-cinza: gray;
    --cor-caixa: #eee;
    --cor-caixa-texto: #333;
    --largura-padrao: 200px;
}

body {
    font-family: var(--fonte-principal);
    line-height: 1.5;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

/* NAV */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

/* CENTRALIZA header, footer e grid */
header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: var(--largura-padrao) 1fr;
    gap: 20px;
    align-items: start;
}

/* MAIN */
main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--cor-secundaria);
    padding: 1px;
    box-shadow: 0 0 30px var(--cor-cinza);
    float: right;
}

/* ASIDE */
aside {
    width: var(--largura-padrao);
    color: var(--cor-caixa-texto);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 150px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 12px;
    left: 30px;
    right: 30px;
}

/* H1 */
h1 {
    color: var(--cor-primaria);
    border-bottom: 5px solid var(--cor-primaria);
}

/* CAIXAS */
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--cor-caixa);
}

.indetacao {
    padding: 2rem;
}

/* FOOTER */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}



/* Esses acima estavam no "aside" e eu trouxe para cá./*

nav {} era:  background-color: var(--cor-primaria);
    padding: 10px;

nav a {} era: color: white;
    display: block;
    padding: 20px;